header {
  position: sticky;
  background-color: white;
  top: 0;
  padding: 1rem 2rem;
  list-style: none;
}

footer {
  position: sticky;
  background: #282d46;
  padding-block: 1rem;
  color: white;
  top: 100vh;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}
