/* Custom properties -DX */
html {
  --primary-color: #f0f0f0;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

/* header (mobile first) */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 2rem 0rem 1rem;
  background: #282d46;
  /* border: 1px solid black; */
}

nav a {
  align-items: start;
  justify-content: center;
  padding: 4px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  text-decoration: none;
}

.logo {
  height: 50px;
  width: 50px;
  grid-column: 2;
  grid-row: 1;
  /* justify-self: center; */
}

.sprog {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}
.flag-mode {
  background-color: white;
  color: white;
}

.knap {
  border: none;
  padding: 0;
  background: none;
}
#flag {
  height: 51px;
  width: 51px;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}
nav {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 50px;
}

.toggle-btn {
  display: block; /* Vis knappen, når viewporten maksimalt er 600px */
}

.main-menu {
  display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
}

.main-menu ul {
  display: none; /* Fjern menu-listen som standard */
}

.main-menu.shown ul {
  /* Vis menu-listen, når klassen ".shown" er til stede */
  border-top: 1px solid #000;
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

@media (min-width: 800px) {
  header {
    grid-template-columns: revert;
  }
  /* ul {
    display: flex;
  } */

  .logo {
    height: 100px;
    width: 100px;
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-self: center;
  }

  .sprog {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  nav {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    display: block;
  }

  .toggle-btn {
    /* background: transparent;
    border: none;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer; */

    display: none; /* Skjul knappen som standard */
  }

  .main-menu ul {
    display: flex;
    justify-content: flex-end;
  }
}

/* footer (mobile first) */
/* footer {
  position: sticky;
  background: #282d46;
  padding-block: 1rem;
  color: white;
  top: 100vh;
} */

/* typografi */

h1 {
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}

h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}
footer h2 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h3 {
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}

p {
  font-family: "Avenir Book";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}
.footer-container {
  background-color: #212329;
  padding: 2rem 0 4rem 0;
}

.footer {
  width: 80%;
  height: 20vh;
  background: #212329;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  position: sticky;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.footer-heading h2 {
  margin-bottom: 2rem;
}
.footer-heading a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer-heading a:hover {
  color: red;
  transition: 0.3s ease-out;
}

#footer-email-form h2 {
  margin-bottom: 2rem;
}
#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#footer-email::placeholder {
  color: #b1b1b1;
}
#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  text-align: center;
}
#footer-email-btn:hover {
  cursor: pointer;
  background-color: rgb(6, 16, 155);
  transition: all 0.4s ease-out;
}
@media screen and (max-width: 1150px) {
  .footer {
    height: 50vh;
  }
  .footer-email-form {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 820px) {
  .footer {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 720px) {
  .footer-3 {
    display: none;
  }
  .footer-email-form {
    margin-top: 4rem;
  }
}
