* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* mobile first */
#container_1 {
  background-color: #f0f0f0;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%;
}

@media (orientation: portrait) and (max-width: 800px) {
  .splash_img {
    background-image: url(/billeder/cookies.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 35/20;
    margin: 0 auto;
  }
}
/* .splash_img {
  background-image: url(/billeder/cookies.jpg);
  background-size: cover;

  margin: 0 auto;
} */

h3 {
  text-align: center;
}

#container_2 {
  background-color: #c49b72;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%;
}

.img_1 {
  background-image: url(/billeder/img_2.jpg);
  background-size: cover;
  background-position: 50%;
  width: 200px;
  height: 200px;
  margin: 5% auto;
}

.img_2 {
  background-image: url(/billeder/img_1.jpg);
  background-size: cover;
  background-position: 50%;
  width: 200px;
  height: 300px;
  margin: 5% auto;
}

.img_3 {
  background-image: url(/billeder/img_3.jpg);
  background-size: cover;
  background-position: 50%;
  width: 200px;
  height: 200px;
  margin: 5% auto;
}

.img_4 {
  background-image: url(/billeder/img_4.jpg);
  background-size: cover;
  background-position: 50%;
  width: 200px;
  height: 300px;
  margin: 5% auto;
}

#container_3 {
  background-color: #d1c9cc;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%;
}

.box_1 {
  background-color: white;
  width: 300px;
  height: 200px;
  margin: 0% auto;
}
.box_2 {
  background-color: white;
  width: 300px;
  height: 200px;
  margin: 0% auto;
}
.box_3 {
  background-color: white;
  width: 300px;
  height: 200px;
  margin: 0% auto;
}
.box_4 {
  background-color: white;
  width: 300px;
  height: 200px;
  margin: 0% auto;
}
.box_5 {
  background-color: white;
  width: 300px;
  height: 200px;
  margin: 0% auto;
}

@media (min-width: 800px) {
  #container_1 {
    height: 600px;
  }

  .splash_img {
    background-image: url(/billeder/cookies.jpg);
    background-size: cover;
    background-position: 50%;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
  }

  #container_2 {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
  }

  .img_1 {
    grid-column: 2;
    grid-row: 2 / span 2;
  }

  .img_2 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 3;
  }

  .img_3 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 3;
  }

  .img_4 {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
  }

  #container_3 {
    height: 600px;
    display: grid;
    gap: 10px;
  }

  .box_1 {
    width: 300px;
    height: 200px;
    grid-column: 1;
    grid-row: 1;
  }
  .box_2 {
    width: 200px;
    height: 200px;
    grid-column: 2;
    grid-row: 1;
  }
  .box_3 {
    width: 200px;
    height: 200px;
    grid-column: 3;
    grid-row: 1;
  }
  .box_4 {
    width: 300px;
    height: 200px;
    grid-column: 1;
    grid-row: 2;
  }
  .box_5 {
    width: 400px;
    height: 200px;
    grid-column: 2 / span 2;
    grid-row: 2;
  }
}
