/* *:not(input) {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
} */

/* Custom properties -DX */
html {
  --primary-color: red;
  --secondary-color: green;
  --accent-color: pink;
}

/* andet */
.container {
  display: grid;
}

body {
  background-color: #f0f0f0;
}
.content {
  display: grid;
  grid-template-columns: 1fr 2fr 1.2fr;
  gap: 1.5rem;
  /* margin: 20px 500px 20px 400px; */
}
.grid_1_2_1 {
  grid-column: 2/3;
}
.content h1 {
  font-family: trajan-pro-3, serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 120px;
}
p {
  font-size: 1.2rem;
  line-height: 25px;
  max-width: 60ch;
}
body {
  margin: 0;
}
.gallery {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: (var(--gap));

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
.gallery {
  margin-left: 50px;
  margin-right: 50px;
}
.gallery > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-col-2 {
  grid-column: span 2;
}
.gallery-row-2 {
  grid-row: span 2;
}

/* alt under 1024px */
@media screen and (max-width: 1024px) {
  .gallery {
    --num-cols: 2;
    --row-height: 200px;
    margin-bottom: 120px;
  }
}
/* .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-self: center;
  gap: 40px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.gallery img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
article {
  background-color: #282d46;
  padding: 5rem;
} */
/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 75px;
  grid-gap: 10px;
} */
/* nyhedsbrev styling */
.newsletter {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background: rgb(220, 218, 218);
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  padding: 50px 30px;
  /* border-radius: 5px; */
  color: rgb(124, 124, 124);
  margin-bottom: 120px;
  margin-top: 120px;
}
.newsletter h1 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
  font-size: 2rem;
  font-style: italic;
  margin-right: 10px;
  color: rgb(95, 94, 94);
}
.newsletter hr {
  width: 90px;
  height: 3px;
  margin: 30px auto;
  border: 0;
  background: rgb(124, 124, 124);
}

.newsletter input {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 67%;
  height: 50px;
  border: 0;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  outline: none;
  box-sizing: border-box;
  font-size: 1.5rem;
  margin-top: 25px;
  text-align: left;
  /* text-indent: 0.2rem; */
}
::placeholder {
  color: rgb(124, 124, 124);
}
.newsletter button {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  height: 50px;
  background-color: transparent;
  color: rgb(124, 124, 124);
  padding: 0px 28px;
  cursor: pointer;
  transition: 0.5s;
  flex-shrink: 0;
  margin-top: 25px;
}
.newsletter button:hover {
  background-color: #282d46;
  border-color: 00138e;
}
.wrap {
  display: flex;
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  background: #fff;
  flex-shrink: 0;
  margin-top: 1px;
  margin-left: -1px;
}
.checkbox {
  text-align: start;
  display: flex;
  gap: 0.7rem;
  width: 400px;
}
.checkbox label {
  margin-left: -6px;
}
@media (max-width: 800px) {
  .newsletter {
    display: grid;
    grid-template-columns: 1fr;
    background: rgb(220, 218, 218);
    margin: 0 auto;
    text-align: center;
    max-width: 360px;
    padding: 30px 30px;
    border-radius: 5px;
    color: rgb(124, 124, 124);
    margin-bottom: 100px;
  }
  .newsletter h1 {
    font-size: 2rem;
    font-style: italic;
    margin-top: 2px;
    margin: 10px 0px 10px -10px;
  }
  .newsletter hr {
    width: 125px;
    height: 3px;
    margin: 15px 110px;
    border: 0;
    background: rgb(124, 124, 124);
  }
  .newsletter input {
    background-color: rgba(0, 0, 0, 0.4);
    width: 65%;
    height: 50px;
    border: 0;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    outline: none;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-align: center;
  }
  ::placeholder {
    color: rgb(124, 124, 124);
  }
  .newsletter button {
    border: 3px solid rgba(255, 255, 255, 0.5);
    height: 50px;
    background-color: transparent;
    color: rgb(124, 124, 124);
    padding: 0px 28px;
    cursor: pointer;
    transition: 0.5s;
    flex-shrink: 0;
  }
  .newsletter button:hover {
    background-color: #282d46;
    border-color: 00138e;
  }
  .wrap {
    display: flex;
  }
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    background: #fff;
    flex-shrink: 0;
    margin-top: 4px;
    margin-left: 0px;
  }
  .checkbox {
    text-align: start;
    display: flex;
    gap: 0.7rem;
    width: 325px;
  }
}

@media (max-width: 900px) {
  .content {
    display: grid;
    grid-template-columns: 0.3fr 7fr 0.3fr;
    gap: 1.5rem;
  }
  .grid_1_2_1 {
    grid-column: 2/3;
  }
  .content h1 {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2px;
    margin-top: 120px;
  }
  p {
    font-size: 1.2rem;
    line-height: 25px;
    padding: 11px;
  }
  /* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-self: center;
    gap: 40px;
    margin-top: 120px;
    margin-bottom: 120px;
  } */
}
