/* GENERAL */

h1 {
  font-size: 35px;
}
main {
  margin: 3rem 2rem 3rem 2rem;
}
.line {
  border-bottom: 2px solid black;
  display: block;
}

/* MOBILE */
/* grid */
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.col {
  grid-column: 1 / span 2;
}

.box_a {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.box_a .box_b {
  grid-column: 1;
  grid-row: 3;
  background-color: rgba(255, 255, 255, 0.547);
  margin: 5px;
  color: rgba(255, 255, 255, 0.627);
}

.box_a img {
  grid-column: 1;
  grid-row: 1 / span 3;
}

/* WEB */
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  .col {
    grid-column: 1;
  }
  h1 {
    font-size: 40px;
  }
}
