/* GENERAL */

h1 {
  font-size: 4vw;
}
h2 {
  font-size: 2vw;
}
h3 {
  color: #ffffff;
}
/* MOBILE */
main {
  max-width: 1200px;
  margin: 0 auto;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

img {
  max-width: 70%;
  aspect-ratio: auto;
}

.button {
  background-color: #747474;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

.col1 {
  display: flex;
  justify-content: center;
}

#margin {
  margin: 3rem 2rem 3rem 2rem;
}
.margin {
  margin: 4rem 5rem 6rem 4rem;
}

.line {
  border-bottom: 2px solid black;
  display: block;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.video {
  grid-column: 1 / span 2;
}
.col {
  text-align: center;
  grid-column: 3;
}

.box_a {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.box_a .box_b {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: rgba(116, 116, 116, 0.549);
  padding: 0.5rem;
  color: white;
}

.box_a img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  object-fit: cover;
  max-width: 100%;
}

/* WEB */
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}
