img {
  max-width: 100%;
}
p {
  text-align: center;

  font-family: "Avenir Book";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}

h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}

.content {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #d1c9cc;
}
.col {
  display: flex;
}
col :last-child {
  display: flex;
  flex-flow: column;
  margin-top: auto;
}
.forhandlere {
  position: relative;
  top: 4rem;
  margin-bottom: 25%;
}

/* Video player */
video {
  width: 100%;
  position: relative;
}

.video-player {
  opacity: 1;
}

@media (max-width: 500px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .video {
    width: 100%;
    display: block;
    position: relative;
  }
  .forhandlere {
    position: relative;
    top: 2rem;
    margin-bottom: 25%;
  }
}

@media (max-width: 800px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .forhandlere {
    position: relative;
    top: 7rem;
    margin-bottom: 25%;
  }
  .video {
    width: 100%;
    display: block;
    position: relative;
  }
}
