img {
  max-width: 100%;
}
p {
  text-align: center;

  font-family: "Avenir Book";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}

h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1;
  margin: 20px;
  color: black;
}

.content {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #d1c9cc;
}
.col {
  display: flex;
}
col :last-child {
  display: flex;
  flex-flow: column;
  margin-top: auto;
}
.forhandlere {
  position: relative;
  top: 4rem;
}

/* Video player */
video {
  width: 100%;
  display: block;
  position: relative;
}

.video-player {
  opacity: 1;
}

.video-player-button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
}

@media (max-width: 800px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .forhandlere {
    position: relative;
    top: 8rem;
  }
  .video {
    width: 100%;
    display: block;
    position: relative;
  }
  .video-player-button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
  }
}

@media (max-width: 1100px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .video {
    width: 100%;
    display: block;
    position: relative;
  }
  .forhandlere {
    position: relative;
    top: 2rem;
  }
  .video-player-button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
  }
}
